.floating-form {
  width: 100%;
}

.floating-label {
  position: relative;
  margin-bottom: 20px;
}

.floating-input{
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 37px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 37px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-select-table {
  font-size: 10px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 1px solid #232f3e;
}

.label-floating {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.label-floating-disabled {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: -19px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.label-floating-textarea {
  color: #232f3e;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: -20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.label-floating-notnull {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.label-floating-fec {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.label-floating-fec-notnull {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
  top: -18px;
  font-size: 14px;
  color: #232f3e;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
  top: -18px;
  font-size: 14px;
  color: #232f3e;
}


/* active state */

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}


/* highlighter */

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 10%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */

.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}


.invalid-feedback {
  background: #f9e6e7
}


/* animation */

@-webkit-keyframes inputHighlighter {
  from {
    background: #232f3e;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #232f3e;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #232f3e;
  }
  to {
    width: 0;
    background: transparent;
  }
}



@button-colour: #009ED8;
@button-text: #ffffff;
@regular-text: #333;
@button-tint: fadeout(#000, 90%);
@background: #303036;



* {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .5em .5em;
  background: #232f3e;
  border: none;
  color: white;
  transition: .2s;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    
    transition: .2s;
    transform-origin: 50% 60%;
  }
  &:before {
    background: @button-tint;
  }
  &:hover {
    background: darken(#232f3e, 10%);
  }
  &:active,
  &:focus {
    background: darken(#232f3e, 30%);
    outline: none;
  }
}

.button {
  min-width: 10em;
}

.arrow {
  background: #FE5F55;
  &:hover {
    background: darken(#FE5F55, 10%);
  }
  &:active,
  &:focus {
    background: darken(#FE5F55, 30%);
  }
  &:after {
    content: "\F054";
  }
  &:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
  }
}

.phone { 
  background: #139675;
  &:hover {
    background: darken(#139675, 10%);
  }
  &:active,
  &:focus {
    background: darken(#139675, 20%);
  }
  &:after {
    content: "\F095";
  }
  &:hover:after {
    -webkit-animation: wiggle .05s alternate ease infinite;
    animation: wiggle .05s alternate ease infinite;
  }
}

.email {
  background: #C673B3;
  &:hover {
    background: darken(#C673B3, 10%);
  }
  &:active,
  &:focus {
    background: darken(#C673B3, 20%);
  }
  &:after {
    content: "\F0E0";
  }
  &:hover:after {
    -webkit-animation: none;
    -webkit-transform: skew(-20deg);
    animation: none;
    transform: skew(-20deg);
    text-indent: .1em;
  }
}

.search {
  &:after {
    content:"\f002";
  }
  &:hover:after {
    -webkit-animation: none;
    -webkit-transform: scale(1.4);
    animation: none;
    transform: scale(1.4);
  }
}

.icon-gray {
  color : gray;
}


@-webkit-keyframes bounceright {
  from { -webkit-transform: translateX(0); }
  to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}

@keyframes wiggle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(30deg); }
}